{% extends "layout.html" %}
{% block body %}

<div class=predict style="position:relative; left:250px; background:rgba(51, 153, 102,0.6);">
<font color="rgba(0,63,71,1)" face="Copperplate Gothic Light" size="5"> <b> IgG4 reactivity prediction </b> </font><br></br>
<form id='IgG4_predict' method='post' action='IgG4_predict' enctype="multipart/form-data"> <!-- action is the URL you want to move to next-->
<p> 
   <h3> Enter FASTA sequence(s) </h3> 
   <textarea type='text' name='IgG4_sequences' placeholder="FASTA sequence(s)" rows="15" cols="65"> </textarea> 
   </p>
   <p> 
   <h3> Or, Upload FASTA File </h3>  
   <input type='file' name='IgG4_file' /> 
   </p>
   <p> </p> 
   To get the result please enter your email address (optional): <input type="email" name="IgG4_email" placeholder="yourname@example.com">
   <p><br> </br> 
   <input type='submit' value='Submit' class="submit_button" style="position:relative; left:420px;" /> <!-- value is the text that will appear on the button. --> 
</p>
</form>
</form>
</div>

{% endblock %}